a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 2px solid black;
  background-color: white;
  z-index: 99;
}

.dropdown-content ul li:hover {
  background-color: rgb(192, 192, 192);
}

.dropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  margin-top: 10px;
}

.nav-selection {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-selection div {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-bar {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.container {
  text-align: center;
}

.pic-container {
  display: flex;
}

.pic-container img {
  width: 20%;
  border-radius: 2px;
}

.timeline-wrapper {
  overflow-x: auto;
  padding: 50px 0;
  width: 100%;
}

.timeline {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 15px; 
  left: 0;
  width: 100%;
  height: 4px;
  background: #ccc;
  z-index: 1;
}

.timeline-node {
  flex: 1;
  position: relative;
  text-align: center;
  min-width: 150px;
}


.timeline-node::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: red;
  border: 4px solid #fff;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.node-content {
  margin-top: 40px;
}

.date {
  font-weight: bold;
  display: block;
}
